.articlesSection {
	padding: 0 0 100px;

	@media(max-width: 768.98px) {
		padding: 0 0 55px;
	}
}

.title {
	margin-bottom: 60px;
	color: rgba(171, 87, 45, 1);
	font-size: 3.125rem;
	font-weight: 500;
	text-align: center;

	@media(max-width: 768.98px) {
		font-size: 1.75rem;
		margin-bottom: 30px;
	}
}

.articlesWrapper {
	display: flex;
	column-gap: 4.637097%;

	@media(max-width: 768.98px) {
		flex-direction: column;
		align-items: center;
		gap: 35px;
	}
}

.article {
	flex: 0 1 33.33%;

	@media(max-width: 768.98px) {
		flex: 0 1 auto;
		width: 80%;
	}
	@media(max-width: 430.98px) {
		width: 100%;
	}
}

.imageWrapper {
	margin-bottom: 45px;
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;

	@media(max-width: 768.98px) {
		margin-bottom: 25px;
	}
}

.articleTitle {
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 1.3;

	@media(max-width: 768.98px) {
		font-size: 1.125rem;
	}
}

.text {
	color: rgba(255, 255, 255, 0.85);
	font-size: 1rem;
	line-height: 1.4;

	@media(max-width: 768.98px) {
		font-size: 0.875rem;
	}
}