.loaderContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 150;
}

.loader {
	width: 80px;
	height: 80px;
	position: relative;
	top: -50px;
	left: 0;

	@media (max-width: 500.98px) {
		top: -20px;
	}
}

.loader div {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.loader div:nth-child(1) {
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	animation: loaderAnimationTopDot 2.5s linear infinite normal;
}

.loader div:nth-child(2) {
	transform: scale(0);
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	animation: loaderAnimationBottomDot 2.5s linear infinite normal 0.35s;
}

@keyframes loaderAnimationTopDot {
	0% {
		transform: rotate(0deg) translateY(40px) scale(2);
	}

	50% {
		transform: rotate(180deg) translateY(40px) scale(0);
	}

	100% {
		transform: rotate(360deg) translateY(40px) scale(2);
	}
}

@keyframes loaderAnimationBottomDot {
	0% {
		transform: rotate(0deg) translateY(40px) scale(0);
	}

	50% {
		transform: rotate(180deg) translateY(40px) scale(2);
	}

	100% {
		transform: rotate(360deg) translateY(40px) scale(0);
	}
}