.raitingStars {
	display: flex;
	height: 20px;
	overflow: hidden;
	column-gap: 8px;
	max-width: 170px;
	margin: 0 auto 10px;
	position: relative;
	text-align: left;
}

.inactiveStars>*:not(:last-child) {
	margin-right: 9px;
}

.activeStars {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	column-gap: 9px;
}

.activeStars img {
	flex: 0 0 18.5px;
}

.markValue {
	align-self: center;
	color: rgba(255, 255, 255, 1);
	font-family: var(--font-inter), sans-serif;
	font-size: 0.75rem;
}