.ourValuesSection {
	position: relative;
	padding: 100px 0;
	overflow: hidden;
	z-index: 0;

	@media(max-width: 768.98px) {
		padding: 50px 0;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background:
			radial-gradient(circle at 75% 35%, rgba(255, 255, 255, 0.15), transparent 50%);
		filter: blur(70px);
		pointer-events: none;
		z-index: -1;

		@media(max-width: 768.98px) {
			background:
			radial-gradient(circle at 50% 15%, rgba(255, 255, 255, 0.15), transparent 70%);
		}
	}
}

.container {
	position: relative;
	left: -50px;
	max-width: 1340px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;

	@media(max-width: 1439.98px) {
		max-width: 1240px;
		margin: 0 auto;
		left: 0;
	}
	@media (max-width: 1270.98px) {
		max-width: none;
		padding: 0 15px;
	}
	@media(max-width: 768.98px) {
		flex-direction: column-reverse;
	}
}

.imageBlock {
	flex: 0 0 50%;
	position: relative;
	aspect-ratio: 670 / 573;

	@media(max-width: 768.98px) {
		flex: 0 1 auto;
		width: 75%;
	}
	@media(max-width: 430.98px) {
		width: 100%;
	}
}

.textBlockWrapper {
	max-width: 587px;
}

.title {
	text-align: center;
	font-size: 3.125rem;
	font-weight: 500;
	margin-bottom: 36px;

	@media(max-width: 768.98px) {
		margin-bottom: 15px;
		font-size: 1.75rem;
	}
}

.text {
	line-height: 1.4;

	@media(max-width: 768.98px) {
		font-size: 1rem;
	}
}

.text > * {
	text-indent: 2em;
}

.text p:first-child {
	margin-bottom: 30px;

	@media(max-width: 500.98px) {
		text-align: center;
	}
}

.text p:last-child {
	@media(max-width: 500.98px) {
		display: none;
	}
}