.bag-section {
	padding: 100px 0 150px;

	@media (max-width: 768.98px) {
		padding: 50px 0 70px;
	}
}

.title-not-found {
	font-size: 2rem;
	text-align: center;

	@media (max-width: 768.98px) {
		font-size: 1.5rem;
	}
}

.content-wrapper {
	display: flex;
	align-items: start;
	justify-content: space-between;
	column-gap: 35px;

	@media (max-width: 992.98px) {
		flex-direction: column;
		align-items: stretch;
		row-gap: 70px;
	}
}

.basket {
	flex: 0 1 710px;

	@media (max-width: 992.98px) {
		flex: 0 1 auto;
	}
}

.header {
	padding-bottom: 30px;

	@media (max-width: 992.98px) {
		padding-bottom: 20px;
	}
}

.chapter-name {
	font-size: 1rem;
	text-transform: uppercase;
}

.basket-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 80px 45px;
	padding: 35px 40px 35px 20px;
	border-top: 1px solid rgb(81, 81, 81);
	border-bottom: 1px solid rgb(81, 81, 81);

	@media (max-width: 992.98px) {
		grid-template-columns: repeat(2, minmax(200px, 300px));
		justify-content: space-around;
	}
	@media (max-width: 600.98px) {
		grid-template-columns: minmax(100px, 300px);
		justify-content: center;
		margin-top: 20px;
		padding: 0;
		border: none;
		row-gap: 60px;
	}
}

.order-summary {
	flex: 0 1 323px;
	margin-top: 90px;
	padding: 50px 40px 40px;
	border: 1px solid rgb(66, 66, 66);
	min-width: 0;

	@media (max-width: 992.98px) {
		flex: 0 1 auto;
		margin-top: 0;
	}
	@media (max-width: 500.98px) {
		padding: 30px 25px 25px;
	}
}

.order-title {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.3;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.order-detail {
	margin-top: 22px;
	padding: 0 0 18px;
	border-bottom: 1px solid rgb(66, 66, 66);
}

.order-detail > div {
	display: flex;
	justify-content: space-between;
}

.order-detail span {
	font-size: 0.875rem;
	letter-spacing: 1px;
}

.currency-symbol {
	margin-right: 2px;
}

.shipping-price {
	margin-top: 5px;
}

.total-price {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.3;
	letter-spacing: 1px;
	text-transform: uppercase;

	@media (max-width: 500.98px) {
		font-size: 1.0625rem;
		margin-top: 20px;
	}
}

.currency-button {
	margin-top: 20px;
	padding: 12px 10px;
	display: block;
	background-color: rgb(66, 66, 66);
	transition: background-color 0.25s ease 0s;
	border-radius: 8px;

	font-size: 0.875rem;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
}

.currency-button:hover,
.currency-button:focus {
	@media (min-width: 1024px) {
		background-color: rgb(90, 90, 90);
	}
}

.checkbox-block {
	margin-top: 35px;
	position: relative;
	display: flex;
	column-gap: 9px;
	align-items: center;
	font-size: 0.875rem;
	font-weight: 300;
	cursor: pointer;

	@media (max-width: 500.98px) {
		margin-top: 25px;
	}
}

.input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	pointer-events: none;
}

.checkbox-text {
	line-height: 1.25;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
}

.checkbox-icon {
	flex: 0 0 18px;
	height: 18px;
	border: 1px solid rgb(66, 66, 66);
}

.checkbox-icon-active {
	background: url('/icons/checked-icon.svg') 3px 5px no-repeat;
}

.button {
	margin-top: 22px;
	padding: 14px 0;
	display: block;
	width: 100%;
	background-color: rgb(66, 66, 66);
	transition: background-color 0.3s ease 0s;

	font-size: 0.875rem;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;

	@media (max-width: 992.98px) {
		margin-top: 35px;
		max-width: 300px;
	}
	@media (max-width: 500.98px) {
		padding: 12px 0;
		margin-top: 25px;
	}
}

.button:hover,
.button:focus {
	@media (min-width: 1024px) {
		background-color: rgb(90, 90, 90);
	}
}
