.footer {
	position: relative;
	padding: 30px 0 0;
	overflow: hidden;

	@media(max-width: 768.98px) {
		background-color: rgb(16, 16, 16);
	}
}

.footer::before {
	@media(min-width: 769px) {
		content: "";
		position: absolute;
		inset: 0;
		background:
			radial-gradient(circle at 80% 120%, rgba(255, 255, 255, 0.15), transparent 60%),
			radial-gradient(circle at 40% 80%, rgba(255, 255, 255, 0.1), transparent 45%),
			radial-gradient(circle at 10% 110%, rgba(255, 255, 255, 0.12), transparent 60%);
		filter: blur(100px);
		pointer-events: none;
		z-index: 0;
	}
}

.contentWrapper {
	padding: 0 0 46px;
	display: flex;
	justify-content: space-between;
	column-gap: 80px;

	@media(max-width: 768.98px) {
		flex-direction: column;
		row-gap: 60px;
	}
	@media(max-width: 349.98px) {
		row-gap: 45px;
	}
}

.subscribeBlock {
	flex: 0 0 333px;

	@media(max-width: 768.98px) {
		flex: 0 1 auto;
	}
}

.subscribeBlock>*:not(:last-child) {
	margin-bottom: 26px;

	@media(max-width: 349.98px) {
		margin-bottom: 22px;
	}
}

.logo {
	line-height: 1.1388;
}

.logo a {
	font-family: var(--font-daniloCatalina);
	font-size: 2.25rem;
	background: radial-gradient(274% 64% at 43% 80%,
			rgba(171, 87, 45, 1),
			rgba(236, 154, 82, 1) 44%,
			rgba(165, 71, 15, 1) 100%,
			rgba(171, 88, 41, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;

	@media(max-width: 768.98px) {
		font-size: 1.75rem;
	}
}

.subscribeTitle {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.33333;

	@media(max-width: 349.98px) {
		font-size: 1.375rem;
	}
}

.subscribeText {
	color: rgba(255, 255, 255, 0.85);
	max-width: 300px;
	font-size: 1rem;
	line-height: 1.375;

	@media(max-width: 768.98px) {
		max-width: 100%;
	}
}

.inputBlock {
	display: flex;
}

.input {
	padding: 9px 12px;
	flex: 0 1 247px;
	border-radius: 10px 0 0 10px;
	background: rgba(29, 29, 29, 1);
	font-size: 1rem;
	font-weight: 500;

	&::placeholder {
		color: rgb(69, 69, 69);
		opacity: 1;
	}
}

.button {
	display: block;
	padding: 9px 18px;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
	background-color: rgba(171, 87, 45, 1);
	transition: background-color 0.25s ease 0s;
	// Styles of the text
	font-size: 1rem;
	font-weight: 500;

	@media (max-width: 768.98px) {
		padding: 9px 18px;
	}
}

.button:hover {
	@media (min-width: 1024px) {
		background-color: rgb(200, 95, 50);
	}
}

.socialNetworks a {
	display: inline-block;
}

.socialNetworks>a:not(:last-child) {
	margin-right: 12px;
}

.navBlock {
	align-self: center;
	flex: 0 1 736px;
	display: flex;
	justify-content: space-around;
	column-gap: 80px;

	@media(max-width: 768.98px) {
		align-self: stretch;
		flex: 0 1 auto;
	}
}

.menuTitle {
	margin-bottom: 20px;
	font-weight: 700;
}

.footerMenuList li:not(:last-child) {
	margin-bottom: 16px;
}

.copyrightBlock {
	padding: 48px 0;
	border-top: 1px solid rgba(51, 51, 51, 1);
	text-align: center;
	font-size: 0.875rem;

	@media(max-width: 768.98px) {
		padding: 30px 0;
	}
}

.copyrightLink {
	transition: all 0.15s ease 0s;
	color: rgba(255, 255, 255, 0.8);
}

.copyrightLink:hover {
	@media (min-width: 1024px) {
		color: rgb(255, 255, 255);
	}
}