.productItemWrapper {
	display: block;
	max-width: 260px;
}

.productItem {
	align-items: center;
	padding: 0 5px 20px;
	width: 100%;
	border-radius: 10px;
	background: linear-gradient(180deg, #313131 0%, #121212 100%);
	text-align: center;
}

.wrapperImage {
	width: 100%;
	margin-bottom: 12px;
	position: relative;
	aspect-ratio: 250 / 340;
}

.name {
	margin-bottom: 9px;
	font-weight: 500;
	line-height: 1.35;
}

.productInfo {
	font-size: 1rem;
	font-weight: 700;
	color: rgba(171, 87, 45, 1);
}

.volume {
	display: inline-block;
	padding: 0 0 0 10px;
	color: rgb(255, 255, 255);
	font-weight: 300;
}