.productItemWrapper {
	display: block;
	max-width: 260px;
	background: linear-gradient(180deg, #313131 0%, #121212 100%);
	border-radius: 10px;
	padding: 0 5px 20px;
}

.productItem {
	width: 100%;
	text-align: center;
}

.wrapperImage {
	width: 100%;
	margin-bottom: 12px;
	position: relative;
	aspect-ratio: 250 / 340;
}

.name {
	margin-bottom: 9px;
	font-weight: 500;
	line-height: 1.35;

	@media(max-width: 430.98px) {
		margin-bottom: 4px;
		font-size: 1rem;
	}
}

.productInfo {
	font-size: 1rem;
	font-weight: 700;
	color: rgba(171, 87, 45, 1);

	@media(max-width: 430.98px) {
		font-size: 0.875rem;
	}
	@media(max-width: 350.98px) {
		font-size: 0.8125rem;
	}
}

.volume {
	display: inline-block;
	padding: 0 0 0 10px;
	color: rgb(255, 255, 255);
	font-weight: 300;

	@media(max-width: 350.98px) {
		padding: 0 0 0 5px;
	}
}