.productListSection {
	padding: 70px 0 0;
}

.header {
	margin-bottom: 60px;
}

.title {
	padding: 0 0 16px;
	border-bottom: 1px solid rgba(171, 87, 45, 0.33);
	color: rgba(171, 87, 45, 1);
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
}

.filterBar {
	padding: 18px 0;
}

.filters {
	display: flex;
	align-items: center;
	column-gap: 38px;
}

.filterTitle {
	font-weight: 500;
}

.spoilerBlock {
	position: relative;
}

.spoilerButton {
	position: relative;
	font-weight: 300;
	display: inline-block;
	padding: 0 35px 0 0;
	line-height: 100%;
}

.spoilerButton:hover {
	@media(min-width: 1023.98px) {
		color: var(--Dark-Gray, #b8b8b8);
	}
}

.spoilerButton::after {
	position: absolute;
	content: '';
	right: 0px;
	top: 2px;
	display: block;
	transition: all 0.3s ease 0s;
	width: 24px;
	height: 100%;
	background: url('/icons/arrow-bottom.svg') center no-repeat;
}

.collectionsList {
	position: absolute;
	left: -10px;
	top: 25px;
	width: 180px;
	border-radius: 5px;
	padding: 0;
	background-color: #181818;
	color: rgb(187, 187, 187);
	font-size: 0.9375rem;
	font-weight: 500;
}

.collectionsList li {
	border: #262626 solid 1px;
	border-bottom: none;
}

.collectionsList li:hover {
	background-color: #4a4a4a;
}

.collectionsList li:first-child {
	border-radius: 5px 5px 0 0;
}

.collectionsList li:last-child {
	border: #262626 solid 1px;
	border-radius: 0 0 5px 5px;
}

.collectionsList span {
	display: block;
	cursor: pointer;
	padding: 8px 12px;
}

.collectionsList span:hover {
	color: #f3f3f3;
}