.offer {
	margin: 0 0 20px;
	position: relative;
	padding: 55px 0;
	overflow: hidden;
	z-index: 0;

	@media(max-width: 768.98px) {
		padding: 30px 0;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background:
			radial-gradient(circle at 100% 20%, rgba(1, 42, 61, 1), transparent 35%),
			radial-gradient(circle at 70% 65%, rgba(1, 42, 61, 1), transparent 40%);
		filter: blur(100px);
		pointer-events: none;
		z-index: -1;

		@media(max-width: 768.98px) {
			background:
				radial-gradient(circle at 50% 15%, rgba(1, 42, 61, 1), transparent 55%);
		}
	}
}

.offerRight {
	margin: 0px;

	&::before {
		background:
			radial-gradient(circle at 15% 60%,  rgba(91, 38, 15, 0.85), transparent 25%),
			radial-gradient(circle at 37% 25%,  rgba(86, 46, 26, 1), transparent 35%);

		@media(max-width: 768.98px) {
			background:
				radial-gradient(circle at 50% 15%, rgba(86, 46, 26, 0.9), transparent 55%);
		}
	}
}

.container {
	position: relative;
	left: -50px;
	max-width: 1340px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;

	@media(max-width: 1439.98px) {
		max-width: 1240px;
		margin: 0 auto;
		left: 0;
	}
	@media (max-width: 1270.98px) {
		max-width: none;
		padding: 0 15px;
	}
	@media(max-width: 768.98px) {
		flex-direction: column-reverse;
	}
}

.containerRight {
	left: 50px;
	flex-direction: row-reverse;

	@media(max-width: 1439.98px) {
		left: 0;
	}
	@media(max-width: 768.98px) {
		flex-direction: column-reverse;
	}
}

.imageBlock {
	flex: 0 0 50%;
	position: relative;
	aspect-ratio: 1 / 1;

	@media(max-width: 768.98px) {
		flex: 0 1 auto;
		width: 75%;
	}
	@media(max-width: 430.98px) {
		width: 100%;
	}
}

.textBlockWrapper {
	max-width: 608px;
}

.title {
	font-size: 2.875rem;
	line-height: 1.3;
	margin-bottom: 125px;

	@media(max-width: 992.98px) {
		margin-bottom: 70px;
		font-size: 2rem;
	}
	@media(max-width: 768.98px) {
		margin-bottom: 40px;
	}
	@media(max-width: 500.98px) {
		margin-bottom: 30px;
		font-size: 1.5rem;
	}
}

.name {
	margin-bottom: 18px;
	font-size: 3.125rem;
	font-weight: 500;

	@media(max-width: 992.98px) {
		font-size: 2.5rem;
	}
	@media(max-width: 500.98px) {
		margin-bottom: 12px;
		font-size: 2rem;
	}
}

.notes {
	margin-bottom: 35px;
	font-size: 2.25rem;
	font-weight: 500;
	color: rgba(19, 208, 227, 1);

	@media(max-width: 992.98px) {
		font-size: 1.75rem;
	}
	@media(max-width: 500.98px) {
		margin-bottom: 20px;
		font-size: 1.375rem;
	}
}

.offerRight .notes {
	color: rgba(239, 169, 75, 1);
}

.description {
	margin-bottom: 55px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 1rem;
	line-height: 1.3;

	@media(max-width: 992.98px) {
		margin-bottom: 40px;
	}
	@media(max-width: 500.98px) {
		margin-bottom: 25px;
		font-size: 0.875rem;
	}
}