.welcome {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1440 / 564;
	background: center / cover no-repeat url('/images/background-welcome.webp');

	@media (max-width: 768.98px) {
		aspect-ratio: 1.5 / 1;
	}
	@media (max-width: 430.98px) {
		aspect-ratio: 1 / 1;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(10, 10, 10, 0.71);
		z-index: 1;
	}
}

.content {
	position: relative;
	z-index: 2;
	max-width: 746px;
	padding: 0 0 60px;
	text-align: center;

	@media (max-width: 900.98px) {
		padding: 0;
	}
	@media (max-width: 768.98px) {
		max-width: none;
		padding: 0 15px 0;
	}
}

.title {
	margin-bottom: 50px;
	color: rgba(171, 87, 45, 1);
	font-size: 3.125rem;
	font-weight: 500;
	
	@media (max-width: 900.98px) {
		margin-bottom: 35px;
		font-size: 2.5rem;
	}
	@media (max-width: 768.98px) {
		margin-bottom: 20px;
		font-size: 1.5rem;
	}
}

.text {
	color: rgba(255, 255, 255, 0.85);
	font-weight: 300;
	line-height: 1.3;

	@media (max-width: 900.98px) {
		font-size: 1.125rem;
	}
	@media (max-width: 768.98px) {
		font-size: 0.875rem;
	}

	& span {
		@media (max-width: 430.98px) {
			display: none;
		}
	}
}