.specialOffersSection {
	padding: 0 0 100px;

	@media(max-width: 768.98px) {
		padding: 0 0 50px;
	}
}

.title {
	margin: 0 0 50px;
	font-size: 3.125rem;
	font-weight: 500;
	text-align: center;

	@media(max-width: 768.98px) {
		margin: 0 0 30px;
		font-size: 2rem;
	}
}