.button {
	display: block;
	padding: 14px 30px;
	cursor: pointer;
	border-radius: 10px;
	background-color: rgba(171, 87, 45, 1);
	transition: background-color 0.25s ease 0s;
	// Styles of the text
	font-size: 1rem;
	font-weight: 700;

	@media (max-width: 768.98px) {
		padding: 12px 26px;
	}
}

.button:hover {
	@media (min-width: 1024px) {
		background-color: rgb(200, 95, 50);
	}
}

.buttonWhite {
	line-height: 100%;
	padding: 14px 135px;
	background-color: rgba(217, 217, 217, 1);
	// Styles of the text
	color: rgba(171, 87, 45, 1);
	font-family: var(--font-inter), sans-serif;
	font-size: 1.3125rem;
}

.buttonWhite:hover {
	@media (min-width: 1024px) {
		background-color: rgb(245, 245, 245);
	}
}